.tabs .tabs-list {
  display: flex;
  gap: var(--spacing-xs);
  max-width: 100%;
  overflow-x: auto;
  padding: var(--spacing-s) 0 var(--spacing-xxs);
}

.tabs .tabs-tab {
  border-radius: 10px;
  padding: var(--spacing-xxs) 16px;
  line-height: 1.4;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tabs .tabs-list .tabs-tab {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--tabs-border-color);
  background: var(--tabs-background-color);
  color: var(--tabs-text-color);
  font-size: var(--body-font-size-m);
  font-weight: 400;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
}

.tabs .tabs-tab p {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tabs .tabs-list .tabs-tab[aria-selected='true'] {
  border-color: var(--tabs-active-border-color);
  background: var(--tabs-active-background-color);
  color: var(--tabs-active-text-color);
  font-weight: 600;
  cursor: default;
}

.tabs .tabs-panel {
  border: none;
  overflow: hidden; /* Needed for swiper cards inside tabs */
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

/* silver with dark text */
.tabs.silver-blue-text .tabs-tab,
.tabs-container.silver-blue-text .tabs-tab {
background: var(--gradient-silver);
opacity: 0.8;
}

.tabs.silver-blue-text .tabs-tab[aria-selected='true'],
.tabs-container.silver-blue-text .tabs-tab[aria-selected='true'] {
  color: var(--tabs-text-color);
  background: var(--gradient-metal-silver);
}

/* new tab-section styles */
.section.multi.tabs-container .tabs-list {
    max-width: var(--grid-container-width);
    width: fit-content;
    margin: 0 auto var(--spacing-s) auto;
}

.section[data-category="tabs-vertical"].multi.tabs-container .tabs-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

@media (width >= 900px) {
  .tabs .tabs-list .tabs-tab {
    font-size: var(--body-font-size-m);
  }

  .tabs-tab[aria-selected='true'] {
    background: var(--gradient-silver);
    color: var(--color-white);
  }

  .tabs-panel {
    padding: 0;
  }

  .tabs.silver-blue-text .tabs-list {
    justify-content: center;
  }

  .tabs.silver-blue-text .tabs-tab {
    flex: 0 1 auto;
  }

  /* new tab-section styles */
.section.multi.tabs-container {
    .tabs-list {
      flex: 0 0 150px;
    }

    .tabs-panel {
      flex: 1 1 calc(100% - 200px);
    }
}

.section[data-category="tabs-vertical"].multi.tabs-container .tabs {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: var(--spacing-s);
 }
}
